<div class="container">
    <div class="row">
        <div class="col- text"><h2>You can find me at:</h2></div>
    </div>
    <div class="row">
        <div class="col-">
            <table class="table table-borderless">
                <thead><th></th></thead>
                <tbody>
                    <tr>
                        <th>Email: </th>
                        <th><a href="mailto:caio.basaglia@protonmail.com">caio.basaglia@protonmail.com</a></th>
                    </tr>
                    <tr>
                        <th>Github:</th>
                        <th><a href="https://github.com/caioob" target="_blank">https://github.com/caioob</a></th>
                    </tr>
                    <tr>
                        <th>Instagram:</th>
                        <th><a href="https://www.instagram.com/gahgas/" target="_blank">https://www.instagram.com/gahgas/</a></th>
                    </tr>
                    <tr>
                        <th>Twitter:</th>
                        <th><a href="https://www.twitter.com/basagliaCaio/" target="_blank">https://www.instagram.com/gahgas/</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
