<div class="container-fluid">
    <app-title></app-title>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <img src="../assets/img/zoio.PNG" class="img-fluid zoio" alt="Caio's eyes">
        </div>
        <div class="col-5">
            <h3>This:</h3>
            <p>This is just a website for me to show things about myself. Here I'll talk about things that interest me. It's more like a place to tell things that I don't want to bore people with.</p>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-7">
             <h3>Who am I?</h3>
             <p>My name is Caio, I'm a Brazilian 21 year old doomer currently living in Toronto. I graduated at Computer Programming at Seneca College in December of 2019, and I'm currently looking for a job in the area. I'm really interested in videogames/esporsts, my favorites being Counter Strike and Super Smash Bros Melee (although I haven't been following Melee recently), and Linux and Free and Open-Source software. I run Arch Linux with dwm (a suckless window manage) in my laptop, and Manjaro Linux with dwm in my desktop computer. Unfortunately my current desktop cpu does not support IOMMU so I currently have a dual-boot setup with Windows in order to maintain my videogame addiction, but I plan to build a computer that supports IOMMU as soon as I get some extra money and have a fully Linux setup and run all my games in a Windows virtual machine. You can learn more about my plans on my vm computer and my Linux configurations in their respectives blog posts</p>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-7">
             <h3>My Linux Stuff</h3>
             <p>I run Arch Linux with <a href="https://dwm.suckless.org/">dwm</a> (a suckless window manager) in my laptop, and Manjaro Linux with dwm in my desktop computer. Unfortunately my current desktop cpu does not support IOMMU so I currently have a dual-boot setup with Windows in order to maintain my videogame addiction, but I plan to build a computer that supports IOMMU as soon as I get some extra money and have a fully Linux setup and run all my games in a Windows virtual machine. You can learn more about my plans on my vm computer and my Linux configurations in their respectives blog posts</p>
        </div>
    </div>
</div>
