<div class="container-fluid">
    <app-title></app-title>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <img src="../assets/img/zoio.PNG" class="img-fluid zoio" alt="Caio's eyes">
        </div>
        <div class="col-5">
            <h3>This:</h3>
            <p>This is just a website for me to show things about myself. Here I'll talk about things that interest me, specially Linux stuff. It's more like a place to tell things that I don't want to  bore people with.</p>
        </div>
    </div>
</div>